/*
  Each square has a unique position

  Below is the position for each one of the squares
*/
div#square0 {

}

div#square1 {
  position: relative;
  left: 5px;
}

div#square2 {
  position: relative;
  left: 15px;
}

div#square3 {
  position: relative;
  left: 25px;
}

div#square4 {
  position: relative;
  left: 30px;
}

div#square5 {
  position: relative;
  left: 35px;
}

div#square6 {
  position: relative;
  left: 45px;
}

div#square7 {
  position: relative;
  left: 50px;
}

div#square8 {
  position: relative;
  left: 55px;
}

div#square9 {
  position: absolute;
  top:  450px;
  left: 115px;
}

div#square10 {
  position: absolute;
  top:  400px;
  left: 125px;
}

div#square11 {
  position: absolute;
  top:  350px;
  left: 130px;
}

div#square12 {
  position: absolute;
  top:  300px;
  left: 133px;
}

div#square13 {
  position: absolute;
  top:  250px;
  left: 136px;
}

div#square14 {
  position: absolute;
  top:  200px;
  left: 139px;
}

div#square15 {
  position: absolute;
  top:  150px;
  left: 143px;
}
div#square16 {
  position: absolute;
  top:  100px;
  left: 155px;
}

div#square17 {
  position: absolute;
  top:  50px;
  left: 160px;
}

div#square18 {
  position: absolute;
  top:    0px;
  left: 165px;
}

div#square19 {
  position: absolute;
  top:   15px;
  left: 216px;
}

div#square20 {
  position: absolute;
  top:   65px;
  left: 226px;
}

div#square21 {
  position: absolute;
  top:  115px;
  left: 230px;
}

div#square22 {
  position: absolute;
  top:  165px;
  left: 233px;
}
div#square23 {
  position: absolute;
  top:  215px;
  left: 238px;
}

div#square24 {
  position: absolute;
  top:  265px;
  left: 243px;
}

div#square25 {
  position: absolute;
  top:  315px;
  left: 252px;
}

div#square26 {
  position: absolute;
  top:  365px;
  left: 267px;
}

div#square27 {
  position: absolute;
  top:  415px;
  left: 272px;
}

div#square28 {
  position: absolute;
  top:  465px;
  left: 286px;
}

div#square29 {
  position: absolute;
  top:  445px;
  left: 336px;
}

div#square30 {
  position: absolute;
  top:  395px;
  left: 340px;
}

div#square31 {
  position: absolute;
  top:  345px;
  left: 350px;
}
